@use "../utils/colors.scss";
@use "../utils/box-shadow.scss";
@use "../utils/animations.scss";
.page {
    background-color: colors.$light-gray;
   header {
    position:relative;
    background-color: colors.$white;
    .fa-arrow-left {
        color: colors.$black;
        position:absolute;
        left:2rem;
        top:2.5rem;
        font-weight: 900;
    }
   }
    button {
        background-image: linear-gradient(0deg, colors.$primaire, colors.$secondaire);
        border-radius: 30px;
        height: 3rem;
        width: 100%;
        min-width: 280px;
        color: colors.$white;
        font-size: 1rem;
        padding: 0 20px;
        font-weight: bold;
        border: none;
        margin-top:2.5rem;
        margin-bottom: 0.5rem;
        
        cursor:pointer;
        @include box-shadow.base-shadow; /*utilisation du mixin en utils/box-shadow, ne pas oublier le namespace*/
        transition: all 150ms; /*transition sur tous les éléments au hover*/
        &:hover {
            @include box-shadow.strong-shadow;
            opacity: 0.9;
        }
    }

    header {
        box-shadow: none;
    }
    h3 {
        font-weight: normal;
        text-transform: uppercase; /*technique pour ne pas avoir à chercher la combinaison ascii pour une lettre accentuée majuscule*/
        position: relative; /* pour la position du pseudo élément ligne verte sous les h3*/
        &::after {
            content:"";
            background-color: colors.$tertiaire;
            position:absolute;
            top:1.4rem;
            left:0;
            height: 0.2rem;
            width: 2.8rem;
            
        }
    }
    h3, h4, p {
        margin:0px;
        padding:0px;
    }
   
    p {
        font-size: small;
    }
    img {
        max-width: 100%;

        @media (min-width:410px) {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 410px;
        }
    }

    .main_restaurant {
        position: relative;
        top: -3.5rem;
        background-color: transparent;
    }

    .page_h2 {
        font-style: italic;
        font-family: 'Shrikhand', cursive;
        background-color: colors.$white;
        padding-left: 1rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        padding-top: 1rem;
        padding-bottom:1rem;
        margin-bottom: 0px;
        background-color: colors.$light-gray;
    }
   
    .fa-heart  {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        font-size: 1.5rem;
    }

    .fas.fa-heart {
        color: transparent;
        background-image: linear-gradient(colors.$primaire, colors.$secondaire);
        background-clip: text;
        transition: all 300ms ease-in-out;
        -webkit-background-clip: text;
        opacity:0;
        
    }
    .far.fa-heart {
  
        opacity: 1;
        transition: all 300ms ease-in-out;
    }
    .heart-animation:hover {
        .fas {
          opacity:1
      }
      .far {
        opacity:0;
      }
    }
    
   .menus {
       padding: 0 1rem;
        .menus-category {
            overflow: hidden; /* overflow hidden sur .menus-category,.menu-item et menu-item-description, puis overflow hidden, white-space:nowrap et text-overflow: ellipsis sur  les h4 et p pour que l'effet ... fonctionne*/
            /*apparition du menu au chargement avec timing différent pour chaque menu*/
            .delay1 {
                animation: appearance 1s; 
            }
            .delay2 {
                animation: appearance 1.5s; 
            }
            .delay3 {
                animation: appearance 2s; 
            }
            .delay4 {
                animation: appearance 2.5s; 
            }
            .delay5 {
                animation: appearance 3s; 
            }
            .delay6 {
                animation: appearance 3.5s; 
            }
            .delay7 {
                animation: appearance 4s; 
            }
            .delay8 {
                animation: appearance 4.5s; 
            }
            .delay9 {
                animation: appearance 5s; 
            }
            .delay10 {
                animation: appearance 5.5s; 
            }
            .menu-item {
                
                @include box-shadow.low-shadow; 
                background-color: colors.$white;
                border-radius:1rem;
                display: flex;
                padding-top:0px;
                margin: 1rem 0.5px;
                overflow: hidden;
                cursor:pointer;
                .menu-item-description {
                    overflow: hidden;
                    h4 ,p {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        padding-left: 1rem;
                        padding-top: 1rem;
                    }
                    
                }
                &:hover .price-checkout {
                    margin-right:0;
                    .fa-check {
                      animation: 0.4s 0.3s 1 both rotation
                        }
                }
                .price {
                    margin-left:auto;
                    margin-right:1rem;
                    margin-bottom:-5px;
                    padding-right:1rem;
                    padding-bottom: 1rem;
                    font-weight: bold;
                    display: flex;
                    align-items: flex-end;
                    padding-top:15px;
                }
                .price-checkout {
                    background-color: colors.$tertiaire;
                    margin-right:-4.5rem;
                    width: 4rem;
                    height: 5rem;
                    transition: margin-right 0.8s ease-in-out;
                    border-top-right-radius:1rem; 
                    border-bottom-right-radius:1rem;
                    display: grid;
                    place-items: center;
                    color:colors.$white;
                    flex-shrink: 0; /*pour empêcher de rapetisser*/
                }
                .fa-check {
                    color:colors.$tertiaire;
                    opacity:1;
                    background: colors.$white;
                    border-radius: 50%;
                    height: 1.3rem;
                    width: 1.3rem;
                    padding-left:3px;
                    padding-bottom:1px;
                    display: grid;
                    align-items: center;
                   
                }
            }
        }
   }
  
}