@use "../utils/colors.scss";
img {
    max-width: 100%;
}
main {
    position: relative;
    top:-3.5rem;
    background-color: transparent;
    ;
}
main h2 {
    font-style: italic;
    font-family: 'Shrikhand', cursive;
    background-color: colors.$white;
    padding-left:1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding-top:1rem;
}
i {
    position: absolute;
    right: 1.5rem;
    top:1.5rem;
    font-size: 1.5rem;
}
.fas {
    color:transparent;
    background-image: linear-gradient(colors.$primaire,colors.$secondaire);
    background-clip: text;
    opacity: 0;
    transition: all 300ms ease-in-out;

    &:hover {
        opacity: 1; 
    }
 }
 /*fait disparaitre le .far au hover pour éviter une légère bordure noire*/
 .far:hover {
    opacity: 0;
}