@keyframes rotation {
    0% {
        transform: rotate(0);
       }
       100% {
        transform: rotate(360deg);
    }
}
/* apparition progressive et léger décallage*/
@keyframes appearance {
    0% {
        opacity: 0;
        transform:translatey(10%) ;
    }
    100% {
        opacity: 1;
        transform: translatey(0);
    }
}
/*loader*/
@keyframes loader {
    0% {
        opacity: 1;
    }
   
    100% {
        opacity: 0;
        z-index: -1; /*sinon le loader empêche le hover/click des éléments de la page*/
    }
}