$primaire: #9356DC ;
$secondaire: #FF79DA ;
$tertiaire: #99E2D0;
$light-gray:#f6f6f6;
$small-gray: #f6f6f6;
$middle-gray: #eaeaea;
$light-purple:#f5edff;
$strong-gray:#7e7e7e;
$white: white;
$black: black;
$light-black:#353535;