@use "../utils/box-shadow.scss";
@use "../utils/colors.scss";
.functionning {
    counter-reset: steps;
    padding: 1rem 1rem;
    background-color: colors.$white;

    ol {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style-type:none ; /*enlève les nombres par défaut de l'ol*/
        padding-left:0px;
    }

    li {
        position: relative; /*essentiel si l'enfant est en absolute*/
        &::before {
            /*pour créer les chiffres devant les li*/
            content: counter(steps); 
            counter-increment: steps;
            color:colors.$white;
            background-color:colors.$primaire;
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            /*positionnement des chiffres*/
            position: absolute; 
            left:-0.75rem;
            bottom: 0.75rem;
        }
        flex-wrap:wrap;
        background-color: colors.$light-gray;
        text-align: center;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        min-width: 280px;
        max-width: 360px;
        width: 50%;
        @include box-shadow.base-shadow;
        font-size: 1rem;
        transition: all 150ms; 
        &:hover {
            background-color: colors.$light-purple;
            @include box-shadow.strong-shadow; 
            i {
                color: colors.$primaire;
            }
        }
        
    }
    .fas  {
        color:colors.$strong-gray;
        margin-right: 1rem;
        padding-left: 0px;
    }
   
    @media (max-width: 905px) {
        ol {
            flex-direction: column;
        }
    }

}