@use "../utils/box-shadow.scss";
@use "../utils/hover-zoom.scss";

.functionning {
    counter-reset: steps;
    padding: 1rem 2rem;
    background-color: white;

    ol {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style-type:none ; /*enlève les nombres par défaut de l'ol*/
        padding-left:0px;
    }

    li {
        position: relative;
        &::before {
            content: counter(steps);
            counter-increment: steps;
            color:white;
            background-color:#9356dc;
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left:-0.75rem;
            bottom: 0.75rem;
        }
        background-color: #f6f6f6;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        min-width: 200px;
        @include box-shadow.base-shadow;
        font-size: 0.7rem;
        transition: all 150ms; 
        &:hover {
            @include hover-zoom.zoom;
        }
        
    }
    i  {
        color:#7e7e7e;
        margin-right: 1rem;
        padding-left: 0px;
    }
    .fa-store {
        color: #9356dc;
    }
 
}