@use "../utils/box-shadow.scss";
header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    padding: 0.2rem;
    position: relative; /*pour garder la marge apparente*/
    @include box-shadow.base-shadow; 
}