@use "../utils/colors.scss";

.menus {
    background-color: colors.$light-gray;
    padding-bottom: 2rem;
    .far:hover {
       opacity:0;
    }

    .fas {
        color:transparent;
        background-image: linear-gradient(colors.$primaire,colors.$secondaire);
        background-clip: text;
        opacity: 0;
        transition: all 300ms ease-in-out;
        -webkit-background-clip: text;
        &:hover {
            opacity: 1; 
        }
     }
    .card {
        height: 12rem;
        min-width: 18rem;
        max-width: 20rem;
        margin-bottom: 1rem;
        margin: 0px 1rem;
        background-color: colors.$white;
        border-radius: 1rem;

        h3 {
            margin: 5px 1rem;
        }

        .location {
            margin-left: 1rem;
            position: absolute;
        }

        p {
            margin-top: 0px;
        }

        a {
            text-decoration: none;
            color: colors.$black;
        }

        .card-description {
            position: relative;
            background-color: colors.$white;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem; 
        }

        i {
            position: absolute;
            right: 1rem;
            top:0.5rem;
            font-size: 1.5rem;
        }

    }

    .card-image {
        width: 100%;
        height: 120px;
        background-size: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .menus-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-around;

        /*création de la class .new pour facilement la mettre sur la card que l'on souhaite*/
        .new {
            position: relative;
        }

        .new::before {
            content: "Nouveau";
            position: absolute;
            color: darken(colors.$tertiaire, 50%);
            font-weight: bold;
            border-radius: 2px;
            text-align: center;
            /*pour centrer le texte verticalement et horizontalement*/
            display: grid;
            place-items: center;
            height: 2rem;
            width: 5rem;
            background-color: colors.$tertiaire;
            right: 1rem;
            top: 1rem;
        }
    }

    h2 {
        margin-bottom: 2rem;
        padding-left: 1rem;
    }
  
}