@use "../utils/box-shadow.scss";
@use "../utils/colors.scss";
.reserve {
    text-align: center;
    padding-top: 0px;

    h2 {
        font-size: 1.6rem;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    p {
        font-size: 1rem;
        margin-top: 0px;
    }

    button {
        background-image: linear-gradient(0deg, colors.$primaire, colors.$secondaire);
        border-radius: 30px;
        height: 3rem;
        width: 50%;
        max-width: 400px;
        min-width: 280px;
        color: colors.$white;
        font-size: 1rem;
        padding: 0 20px;
        font-weight: bold;
        border: none;
        margin-top: 1.5rem;
        margin-bottom: 4rem;
        cursor:pointer;
        @include box-shadow.base-shadow; /*utilisation du mixin en utils/box-shadow, ne pas oublier le namespace*/
        transition: all 150ms; /*transition sur tous les éléments au hover*/
        &:hover {
            /*transform: scale(1.03);*/
            @include box-shadow.strong-shadow;
            opacity: 0.9;
        }
    }

}